einops
transformers==4.30.0
peft
omegaconf
torch
evaluate
accelerate
numpy
scikit-learn
Pillow
textaugment
scipy
gdown
textblob==0.17.1
fair-esm==2.0.0
biopython
matplotlib
click>=8.0.0
tqdm
pandas
rich>=13.0.0
h5py
PyYAML
flash-attn>=2.6.0
